{% load static %}
<section class="about-area" id='about' >
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="about-image">
                    <img src="{% static 'portfolio/images/site-banner.jpg' %}" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 about-title">
                <h2 class="text-uppercase pt-5">
                    <span>Let me</span>
                    <span>introduce</span>
                    <span>myself</span>
                </h2>
                <div class="paragraph">
                    <p class="para">
                        My name is Emmanuel Obi.
                    </p>
                    <p class="para">
                       I was born 30 June 1999. I attended the presbyterian primary school mutengene where i had my FSLS(First school leaving certificate) in the year 2009. I had my GCE O/A levels at G.B.H.S mutengene at the year 2015 and 2018 respectively.Am currently a level 400 software enginnering student at the faculty of engineering and tectnology at the University Of Buea.
                       

                    </p>

                </div>
                <button type="button" class="btn button-primary text-uppercase">Download Cv</button>
            </div>

        </div>


    </div>

</section>