{% load static %}
<section class="brand-area" id='contact'>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-3">
                        <div class="single-brand">
                            <img src="{% static 'portfolio/images/brands/html.jpg' %}" alt="brand-1" class="img-fliud">
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-3">
                        <div class="single-brand">
                            <img src="{% static 'portfolio/images/brands/css.jpg' %}" alt="brand-1" class="img-fliud">
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-3">
                        <div class="single-brand">
                            <img src="{% static 'portfolio/images/brands/js.jpg' %}" alt="brand-1" class="img-fliud">
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-3">
                        <div class="single-brand">
                            <img src="{% static 'portfolio/images/brands/angular.jpg' %}" alt="brand-1" class="img-fliud">
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-3">
                        <div class="single-brand">
                            <img src="{% static 'portfolio/images/brands/ionic.jpg' %}" alt="brand-1" class="img-fliud">
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-3">
                        <div class="single-brand">
                            <img src="{% static 'portfolio/images/brands/python.jpg' %}" alt="brand-1" class="img-fliud">
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-3">
                        <div class="single-brand">
                            <img src="{% static 'portfolio/images/brands/django.jpg' %}" alt="brand-1" class="img-fliud">
                        </div>

                    </div>


                </div>

            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="experience-area">
                    <div class="d-flex flew-row year-area">
                        <h2 class='p-3 years'>2</h2>
                        <h2>
                            <span>Years</span>
                            <span>Experience</span>
                            <span>Working</span>
                        </h2>
                    </div>
                    <div class="d-flex flex-row flew-wrap call-area">
                        <span><i class="fas fa-phone-alt" aria-hidden="true"></i></span>
                        <div class="call-now">
                            <a href="" class="text-uppercase">Call now</a>
                            <span class="py-2">(+237)-681-14-28-67</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>