{% load static %}
<section class="services-area" id='services'>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center services-title">
                <h1 class="text-uppercase title-text">
                    services offers
                </h1>
                <p class="para">
                    I offer the following services
                </p>

            </div>

        </div>
        <div class="container services-list">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="services">
                        <div class="services-img text-center py-4">
                            <img src="{% static 'portfolio/images/web.jpg' %}" alt="" class="img-fluid">
                        </div>
                        <div class="card-body text-center">
                            <h3 class="card-title text-uppercase font-roboto">Web Development</h3>
                            <p class="card-text text-secondary">
                                I build beautiful user interface web applications. With technologies such as Django,Jquery,Ajax..etc
                            </p>
                        </div>
                    </div>


                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="services">
                        <div class="services-img text-center py-4">
                            <img src="{% static 'portfolio/images/Mobile-App.png' %}" alt="" class="img-fluid">
                        </div>
                        <div class="card-body text-center">
                            <h3 class="card-title text-uppercase font-roboto">Mobile App</h3>
                            <p class="card-text text-secondary">
                               i build rich and fast applications with tecthnologies such as Angular,Ionic,Django
                            </p>
                        </div>
                    </div>


                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="services">
                        <div class="services-img text-center py-4">
                            <img src="{% static 'portfolio/images/seo.jpg' %}" alt="" class="img-fluid">
                        </div>
                        <div class="card-body text-center">
                            <h3 class="card-title text-uppercase font-roboto">SEO optimization</h3>
                            <p class="card-text text-secondary">
                               coming soon.............
                            </p>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>
</section>