{% extends 'share/base.html' %} {% block content %}
<form method="POST" class="form">
    <h5>Enter Mail:</h5>
    <p>To receive reset link</p>
    <table>
        {% for field in form %}
        <tr>
            <td>{{field.label}}</td>
        </tr>
        <tr>

            <td>{{field}}</td>
            <td><button type="submit" class="btn btn-primary">Send-Mail</button></td>
        </tr>
        <tr>
            <td>{{field.errors}}</td>



        </tr>
        {% endfor %}




    </table>






    {% csrf_token %}
</form>

{% endblock %}