{% extends 'share/base.html' %} {% block content %}
<form method="POST" class="form">
    <h2 style="letter-spacing:2px">Enter new password</h2>

    <table>
        {% for field in form %}
        <tr>
            <td>{{field.label}}</td>
        </tr>
        <tr>

            <td>{{field}}</td>
        </tr>
        <tr>
            <td>{{field.errors}}</td>
        </tr>
        {% endfor %}

        <tr>
            <td></td>
            <td><button type="submit" class="btn btn-primary">Save</button></td>
        </tr>


    </table>






    {% csrf_token %}
</form>

{% endblock %}