 {% extends 'blog/posts/base.html' %} {% block content %} {% load static %} {% load blog_tags %}

<div class="row">
    <nav class="col-lg-3" id='nav'>

        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="javascript:void(0)" role="tab" aria-controls="v-pills-home" aria-selected="true" onclick="is_active('all post')">All</a>
            {% if user.is_superuser%}
             <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="javascript:void(0)" role="tab" aria-controls="v-pills-home" aria-selected="true" onclick="is_active('draft')">Draft <i class='fas fa-envelope-open-text' ></i></a>
            <!--  -->
            {% endif %}

        </div>
        <div style="background:whitesmoke;padding:20px 20px;border:1px solid whitesmoke;width:100%;height:auto;z-index:1;box-shadow:2px 2px 15px black;margin-top:20px;margin-left:6px">
            <p>Latest Posts:</p>
            {% show_latest_posts 3 %}
        </div>
        <div style="background:whitesmoke;padding:20px 20px;border:1px solid whitesmoke;width:100%;height:auto;z-index:1;box-shadow:2px 2px 10px black;margin-top:20px;margin-left:6px">
            <p>Most Commented Posts:</p>
            {% get_most_commented_posts 3 %}
        </div>


        <!-- {{posts}} -->
        <footer style="padding: 10px 20px;">

            <ul style="list-style: none;color:whitesmoke">
                <li>obiemmanuel2018@gmail.com</li>
                <li>(+237) 681-142-867 Whatsap</li>
                <li>(+237) 676-288-762 </li>
            </ul>
        </footer>

    </nav>
    <div class="col-sm-12 col-md-12 col-xl-9 main" id='main'>


        {% include "blog/posts/all_posts.html" with posts=all_posts %} {% include "blog/posts/draft_list.html" with drafts=drafts %}





    </div>


</div>






{% endblock%}