<div class="confirm-delete" id='delete-modal' style='display:none'>
    <h5>Delete:</h5>
    <p>Do you really wish to delete item?</p>
    <div style="height:50px;position:relative ">
        <a href="{% url 'blog:post_delete' post_id=post.id %}"><button  style="position:absolute;right:30%;bottom:0" type="button" class="btn btn-danger delete-btn"><i class="fa fa-trash" aria-hidden="true">Yes</i></button></a>
        <button id='cancel_delete' onclick="CloseDeleteModal()" style="position:absolute;right:0;bottom:0" type="button" class="btn btn-warning"><i class="fa fa-edit">No</i></button>
    </div>
    




</div>