<div class="confirm-delete" id='message' style="width: 400px;height:auto;background-color:white;z-index:2;position:fixed;right:38%;top:20%;box-shadow:2px 2px 10px black;padding:20px;display:none;">
    <h5>Thanks {{request.user.first_name}} for commenting.</h5>
    <p>Your comment will be approved shortly by the Admin before it can be added to post.</p>
  
        <button id='message-close-btn' style="position:absolute;right:2%;bottom:1%" type="button" class="btn btn-primary">Ok</i></button>
 


</div>